<%= form_with(model: category, html: { multipart: true }) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name , class:"form-control" %>
  </div>

<div class="field upload-box">
  <p id="upload-instructions">Upload Photos</p>

  <!-- Hidden file input -->
  <%= form.file_field :image,
        id: "product_image_input",
        style: "display: none;",
        accept: "image/*" %>

  <!-- Custom button -->
  <button type="button"
          onclick="document.getElementById('product_image_input').click()"
          class="sb-btn sb-btn--upload mt-3">
    Choose Image
  </button>

  <!-- Preview container -->
  <div id="single-image-preview" class="preview-container"></div>
</div>



  <div class="form-group">
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug, class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :order, style: "display: block" %>
    <%= form.number_field :order , class:"form-control" %>
  </div>

  <br/>

  <div>
    <%= form.submit class:"sb-btn sb-btn--success" %>
  </div>
<% end %>
