<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @category.name %></h5>
    <p class="card-text">
      Slug: <%= @category.slug %><br>
      Order: <%= @category.order %>
    </p>
    <%= link_to "View all products", category_path(@category), class: "btn btn-primary" %>
  
</div>
<br/>
<div>
  <%= link_to "Edit this category", edit_category_path(@category), class:"btn btn-outline-success" %> |
  <%= link_to "Back to categories", categories_path, class:"btn btn-outline-info"  %>

  <%= button_to "Destroy this category", @category, method: :delete , class:"btn btn-outline-danger"%>
</div>

