<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if @product.images.attached? %>
  <div class="photo-gallery" data-product-id="<%= @product.id %>">
    <% @product.ordered_images.each do |image| %>
      <div class="photo-item" data-id="<%= image.id %>">
        <%= image_tag image, class: "image" %>

        <%= link_to "✖", remove_image_product_path(@product, image_id: image.id),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "delete-btn" %>
      </div>
    <% end %>
  </div>
<% end %>




       

<div class="field upload-box">
  <!-- Instruction text -->
<p id="upload-instructions">Upload Photos</p>

<!-- Hidden file input -->
<%= form.file_field :images,
      multiple: true,
      direct_upload: true,
      id: "product_images_input",
      style: "display:none;" %>

<!-- Custom button to trigger file input -->
<button type="button"
        onclick="document.getElementById('product_images_input').click()"
        class= "sb-btn sb-btn--upload mt-3">
  Choose Images
</button>

<!-- Preview container -->
<div id="image-preview-container" class="preview-container"></div>

</div>






  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name , class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price , class:"form-control" %>
  </div>


  <div class="form-group">
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity , class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :condition, style: "display: block" %>
    <%= form.text_field :condition  , class:"form-control"%>
  </div>


  
  <div class="form-group">
  <%= form.label :category_id, "Category", style: "display: block" %>
  <%= form.collection_select :category_id,
        Category.order(:name),  # nice alphabetical list
        :id, :name,
        { prompt: "Select a category" },
        { class: "form-control" } %>
  </div>

  <div class="form-group">
  <%= form.label :status, "Status", style: "display: block" %>
  <%= form.select :status,
        Product.statuses.keys.map { |s| [s.humanize, s] },
        { prompt: "Select a status" },
        { class: "form-control" } %>
</div>

<div>
  <%= form.submit "Create Product", class: "sb-btn sb-btn--success mt-3" %>
  
</div>

<% end %>
<div>
  <%= link_to "Delete Product",
      product_path(@product),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this product?" },
      class: "sb-btn sb-btn--failure mt-3" %>
</div>