<tr id="<%= dom_id product %>">
  <td><%= product.name %></td>
  <td><%= product.slug %></td>
  <td><%= product.price %></td>
  <td><%= product.uploaded_at %></td>
  <td><%= product.quantity %></td>
  <td><%= product.condition %></td>
  <td><%= product.category&.name %></td>
  <td>
    <%= link_to "Edit", edit_product_path(product), class: "sb-btn sb-btn--sm" %>
  </td>
</tr>
